
.select-box {
  position: relative;
  display: block;
  width: 370px;
  height: 48px;
  font-size: 18px;
  color: $dark-blue;
}

.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  width: 370px;
  height: 48px;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 9px;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
  height: 48px;
  width: 370px;
  position: absolute;
  top: 0;
  left: 0;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 13px 0 10px 10px;
  background-color: rgba(255, 255, 255, 0.85);;
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}


.select-box__list {
  position: absolute;
  margin: 0;
  width: 370px;
  padding: 0;
  max-height: 170px;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  border-left: 1px solid #3D4050;
  border-right: 1px solid #3D4050;
  border-bottom: 1px solid #3D4050;
  border-radius: 0 0 3px 3px;
}

.select-box__list::-webkit-scrollbar {
  width: 7px;
  background: #272733;
}

.select-box__list::-webkit-scrollbar-track {
  background-color: #3D4050;
  width: 7px;
  border-radius: 3px;
}

.select-box__list::-webkit-scrollbar-thumb {
  background-color: #3E9CDC;
  border-radius: 3px;
  width: 7px;
}


.select-box__list li {
  height: 30px;
}
.select-box__option {
  display: block;
  padding: 15px;
  background: #272733;
  color: #ffffff;
}
.select-box__option:hover, .select-box__option:focus {
  color: #42A9ED;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
